#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(49, 45, 45);
}
img {
  display: block;
  margin: 0 auto 20px auto;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

button {
  display: block;
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #7b7e82;
}

button:active {
  background-color: #004080;
}


